<div class="min-h-screen p-6 bg-gray-100">
  <h2 class="text-2xl font-bold text-gray-700 mb-6">Create Session</h2>
  <form *ngIf="!creatingSession; else loader" (ngSubmit)="onSubmit()" class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <div class="mb-6">
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name:</label>
      <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="session.name"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      required
      />
    </div>
    <label class="mb-6 flex gap-4 items-center">
      <input
      type="checkbox"
      id="realtime"
      name="realtime"
      [(ngModel)]="session.showRealtimePulse"
      required
      />
      <span for="realtime" class="block text-gray-700 text-sm font-bold">Show Realtime Pulse</span>
    </label>
    <button
      type="submit"
      class="w-full bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Create Session
    </button>
  </form>
</div>
<ng-template #loader>
  <div class="p-4 flex items-center justify-center">
    <pulsechecker-loader></pulsechecker-loader>
  </div>
</ng-template>
