<div class="min-h-screen p-6 bg-gray-100">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-gray-700">Sessions List</h2>
    <button routerLink="/dashboard/sessions/create" class="bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded-md">Create Session</button>
  </div>
  <div class="flex flex-wrap -mx-4" *ngIf="!loadingSessions; else loader">
    <pulsechecker-session-card [isDeletingSession]="sessionDeletion.isDeleting && sessionDeletion.sessionId === session.id" class="w-full mb-4 md:w-1/2 lg:w-1/3 block" [session]="session" *ngFor="let session of sessions" (deleteSession)="deleteSession($event)"></pulsechecker-session-card>
  </div>
</div>

<ng-template #loader>
  <div class="flex flex-wrap -mx-4 justify-center items-center">
    <pulsechecker-loader></pulsechecker-loader>
  </div>
</ng-template>
